body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  .github-link {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .github-link:hover {
    background-color:  #A74AC7;
  }