body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #2b2b2f;
  }
  form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2b2b2f;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  input[type="radio"],
  input[type="range"] {
    margin-right: 10px;
  }
  .textarea-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  textarea {
    width: 49%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #2b2b2f;
  }
  button {
    padding: 10px 20px;
    background-color: #0093d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #003366;
  }
  input[type="file"] {
    display: none;
  }
  label[for="upload-doc"] {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border: 2px solid #0093d0;
    border-radius: 4px;
    cursor: pointer;
  }
  label[for="upload-doc"]:hover {
    background-color: #003366;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  uploaded-files{
    background-color: #2b2b2f;
    color: white;
  }