<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="static\css\index.css">
  </head>
  <body>
    <h1>Welcome to LLM for Hydrogen Storage</h1>
    <p>
      This web application leverages advanced large language models to provide powerful tools
    </p>
    <p>
      for text summarization and question answering, specifically designed for the field of hydrogen storage.
    </p>
    <p>
      To get started, please click the link below to visit the main page.
    </p>
    <a
      href="{{ url_for('summarizer') }}"
      class="github-link"
      target="_blank"
      rel="noopener noreferrer"
      >Go to Text Summarizer</a
    >
    <a
      href="{{ url_for('qa') }}"
      class="github-link"
      target="_blank"
      rel="noopener noreferrer"
      >Go to QA Bot</a
    >
    <p>
      You can find the source code for this project on GitHub:
      <a
        href="https://github.com/Sharukesh3/LLM-for-hydrogen-storage"
        class="github-link"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub Repository</a
      >
    </p>
  </body>
</html>