{% extends 'base.html'%}
{% block content %}
<html data-bs-theme="dark">
    <head>
        <title>Q and A bot</title>
        <style>
            .container {
                display: flex;
                justify-content: center; /* horizontally center */
                align-items: center; /* vertically center */
                height: 90vh; /* 100% of viewport height */
            }
        </style>
    </head>
    <div class ="container">
        <h1>Coming soon</h1>
    </div>
</html>
{%endblock%}